html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0 0 0 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* Navigation Section*/
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.logo {
	margin-top: 1em;
}

.cases, /*delete it is a try*/
.content {
	padding: 0em 6em;
	box-sizing: border-box;
	width: 970px;
	margin: 0 auto;
}

.top-navigation > .content {
	height: 70px;
	letter-spacing: 0.03em; /*maybe take off*/
}

.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 17px;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links a {
	text-decoration: none;
	color: #838994;
}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;

}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333;
}

/* center of the page*/

.introduction {
	background-image: url("../images/background-image.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.big-button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	width: 9em;
	background-color: #FF5C33;
	color: white;
	font-size: 1.1em;
	display: center;
	margin-bottom:0.5em;
	margin-left: 18em;
}

.big-button:hover {
	background-color: #FF4719;
}

.content > h1,
.content > h3 {
	text-align: center;
	color: white;
	font-weight: 300;
}

.content > h1 {
	margin-top: 5em;
	font-size: 3.2em;
}

.content > h3 {
	font-size: 1.6em;
	margin-top: -0.7em;
}

.cases {
	align-content: center;
}

.cases > h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 3em;
	margin-bottom: 1em;
	font-weight: 300;
	font-size: 2.8em;
}

.cases .devices {
	display: inline-block;
	box-sizing: border-box;
	height: 4em;
	margin-left: 7em;
}

.cases > h3 {
	margin-left: 2.7em;
}

.cases > h3 {
	display: inline-block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	margin-bottom: 6em;
}

/*Footer*/

 footer {
	margin-right: 8em;
	margin-left: 8em;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
}


.icons > li {
	display: inline;
	list-style-type: none;	
	float: center;
}

.fa {
	border: 0.1em solid #B3B3B3;
	border-radius: 5em;
	cursor: pointer;
}

.fa-twitter {
	padding: 0.7em;
	margin-right: 1em;
	color: #5C85D6;
	margin-left: 17em;
}

.fa-facebook {
	padding: 0.7em 0.85em;
	margin-right: 1em;
	color: #1F3D7A;
}

.fa-instagram {
	padding: 0.7em;
	margin-right: 1em;
	color: #00478F;
}

span {
	margin: 4em 10em 2em 25.5em;
	padding-bottom: 8em;
	font-size: 0.8em;
	color: #989898 ;

}